@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #efefef;
  --foreground: #171717;
  --la-liga: #e6453e;
  --champions-league: #010256;
  --copa-del-rey: #dda065;
  --super-copa: #15151e;
  --fifa-club: #f9d66b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.keen-slider__slide {
  min-width: calc(100% + 0px);
  max-width: calc(100% + 0px);
  transform: translate3d(0, 0, 0);
}